/* .card {
    'height': '100%';
    'width': '100%';
    'position': 'relative';
} */


.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position:fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #28195c;
  padding-left: 10px;
  box-sizing: content-box;
  opacity: 0.8;
  
  
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 10000s;
  animation-duration: 10000s;
  
  
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.75rem;
  color: white;
  
}


.ticker:hover { animation-play-state: paused; }

.header {
  height: 70%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");
.title {
  /* font-family: Roboto, 'Courier New', Courier, monospace; */
  text-shadow: 2px 2px 2px #eee;
}




@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #eee;
  font-family: Roboto, Arial, sans-serif;
  height: 20vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-30%, -40%);
  width: 20vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 1rem;
  padding: 0.2vmin 0.1vmin;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 0.2vmin solid #eee;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #eee;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}



 /* Carousel */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  background: #070914;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -37.5px;
}

.carousel {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 50px;
  line-height: 75px;
  height: 75px;
}
.carousel .pre {
  position: absolute;
  top: 0;
  right: 54.5%;
  height: 75px;
  text-shadow: 1px 1px 1px #41B3A3;
}
.carousel .change_outer {
  position: absolute;
  top: 0;
  left: 46%;
  text-align: left;
  height: 75px;
  overflow: hidden;
}
.carousel .change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 34s  infinite;
  animation: rotate 34s  infinite;
}
.carousel .change_outer .element {
  display: block;
  font-weight: 700;
  text-shadow: 2px 2px 2px #e67e22;
}

.element  {
  display: inline-block;
  font-size: 2rem;
  white-space: pre-wrap;
}
.pre {
  display: inline-block;
  margin: 15px 0;
  font-size: 2rem;
  color: #41B3A3;
  white-space: pre-wrap;
  line-height:28px;
  white-space:nowrap;
}

@-webkit-keyframes rotate {
  0%, 3% {
    transform: translateY(0);
  }
  5.5%, 8.5% {
    transform: translateY(-75px);
  }
  11.5%, 14.5% {
    transform: translateY(-150px);
  }
  17%, 20% {
    transform: translateY(-225px);
  }
  22.5%, 25.5% {
    transform: translateY(-300px);
  }
  28%, 31% {
    transform: translateY(-375px);
  }
  33.5%, 36.5% {
    transform: translateY(-450px);
  }
  39%, 42% {
    transform: translateY(-525px);
  }
  44.5%, 47.5% {
    transform: translateY(-600px);
  }
  50%, 53% {
    transform: translateY(-675px);
  }
  55.5%, 58.5% {
    transform: translateY(-750px);
  }
  61%, 64% {
    transform: translateY(-825px);
  }
  66.5%, 69.5% {
    transform: translateY(-900px);
  }
  72%, 75% {
    transform: translateY(-975px);
  }
  77.5%, 80.5% {
    transform: translateY(-1050px);
  }
  83%, 86% {
    transform: translateY(-1125px);
  }
  88.5%, 91.5% {
    transform: translateY(-1200px);
  }
  94%, 97% {
    transform: translateY(-1275px);
  }
  100% {
    transform: translateY(-1350px);
  }
  
}

@keyframes rotate {
  0%, 3% {
    transform: translateY(0);
  }
  5.5%, 8.5% {
    transform: translateY(-75px);
  }
  11.5%, 14.5% {
    transform: translateY(-150px);
  }
  17%, 20% {
    transform: translateY(-225px);
  }
  22.5%, 25.5% {
    transform: translateY(-300px);
  }
  28%, 31% {
    transform: translateY(-375px);
  }
  33.5%, 36.5% {
    transform: translateY(-450px);
  }
  39%, 42% {
    transform: translateY(-525px);
  }
  44.5%, 47.5% {
    transform: translateY(-600px);
  }
  50%, 53% {
    transform: translateY(-675px);
  }
  55.5%, 58.5% {
    transform: translateY(-750px);
  }
  61%, 64% {
    transform: translateY(-825px);
  }
  66.5%, 69.5% {
    transform: translateY(-900px);
  }
  72%, 75% {
    transform: translateY(-975px);
  }
  77.5%, 80.5% {
    transform: translateY(-1050px);
  }
  83%, 86% {
    transform: translateY(-1125px);
  }
  88.5%, 91.5% {
    transform: translateY(-1200px);
  }
  94%, 97% {
    transform: translateY(-1275px);
  }
  100% {
    transform: translateY(-1350px);
  }
}